@{
    ViewData["Title"] = "Home Page";
}

@model ProjectListViewModel

<header>
    <h1>Give the Gift of Water</h1>
</header>

@foreach (var x in Model.Projects)
{
    <div>
        <h4>Program Name: @x.Program</h4>
        <p>Program Type: @x.Type</p>
        <p>Impact: @x.Impact people served</p>
    </div>
}

<div page-model="@Model.PagingInfo" page-action="Index"></div>